
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
<servlet>
		<servlet-name>HOME</servlet-name>
		<servlet-class>view.Home</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HOME</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>REGISTRAZIONE</servlet-name>
		<servlet-class>view.Registrazione</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>REGISTRAZIONE</servlet-name>
		<url-pattern>/registrazione</url-pattern>
	</servlet-mapping>
  
  <servlet>
		<servlet-name>PASSEGGERO</servlet-name>
		<servlet-class>view.Passeggero</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PASSEGGERO</servlet-name>
		<url-pattern>/passeggero</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>HOME2</servlet-name>
		<url-pattern>/home2</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HOME2</servlet-name>
		<servlet-class>view.Home2</servlet-class>
	</servlet>
	
</web-app>
